# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Data
data/
testdata/
testdataset/
models/


# Environment
.env
.venv/

pictures/
modeels/


audios/
visualizations/

project.ipynb
testdemo.ipynb

